/*样式清除代码*/
html{
     width:100%;
     min-width:1000px;
     overflow-x: hidden;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form
,fieldset,legend,input,textarea,select
{margin:0;padding:0}
body{
    font:13px "microsoft yahei","Arial Narrow",HELVETICA;
    background:#fff;
    -webkit-text-size-adjust:100%;
    overflow-x: hidden;
    min-width:1000px;
    width:100%;
    }
li{list-style: none;}
a{color:#2d374b;text-decoration:none;cursor: pointer}
em{font-style:normal}
i{font-style: normal}
img{border:0;vertical-align:middle;}
/* table{border-collapse:collapse;border-spacing:0} */
p{word-wrap:break-word;margin: 0px;}
input::-webkit-input-placeholder{
    color: #fff;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*通用样式*/
.wth{
     width:100%;
     min-width:1000px;
     clear: both;
}
.w{
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    /* position: relative;
    z-index: 222; */
}
.clearfloat:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
/*顶部*/
.top_all{
	width: 100%;
	min-width:1000px;
    height:53px;
    position:fixed;
    z-index: 999;
    background: #d7000f;
}

.top_all li{
	height: 40px;
	line-height: 53px;
	font-size:16px;
    color: #fff;
}
.top_left{
	float: left;
}
.top_left li.first{
	width: 135px;
    height: 38px;
	line-height: 20px;
    padding-top: 5px;
}
.top_left li.first img{
    width: 125px;
    padding-top:2px;
}
.top_left li{
	width: 90px;
	float: left;
	text-align: center;
    color: #fff;
}
.top_left li a{
    padding-right: 5px;
    color: #fff;
}
.top_right{
	float: right;
	color: #fff;
}
.top_right li{
	float: left;
	font-size:18px;
    color: #fff;
}
/*地址栏*/
.hda{
    background: #222222;
}

